#Ignore local settings, except for the tasks
.vscode
!.vscode/tasks.json

bin
build
CMakeUserPresets.json
.project_name

assets/music
assets/sounds
assets/video

cmake_install.cmake
CMakeCache.txt
*.a
Makefile
CMakeFiles

*.conf